.menu-container {
    background-color: #e1e1e193;
    z-index: 10;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}


.menu-container.hidden {
    transform: translateX(-100%);
}

.menu-container .dark {
    background-color: #272732;
    color: #f8f8f8;
}

.menu {
    padding: 10px;
    width: 250px;
    height: 100%;
    font-size: 12px;
    position: absolute;
    margin-bottom: 5px;
    background-color: #f8f8f8;
    border: 1px solid;
    border-radius: 3px;
    transition: transform 0.5s ease;
    z-index: 1000;
}

.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu .menu-list {
    display: flex;
    gap: 2rem;
    padding: 5px;
}

.menu .menu-list:hover{
    background-color: #cccccc4a;
    cursor: pointer;
}

.menu .profile img {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid rgb(86, 240, 9);
    margin-bottom: 5px;
}

.menu .night-mode {
    display: flex;
    justify-content: space-around;
    border: 1px solid black;
    padding: 5px;
}

.checkbox{
    opacity: 0;
    position: absolute;
}

.checkbox-label {
    background-color: #111;
    position: relative;
    width: 30px;
    height: 16px;
    border-radius: 50px;
}

.checkbox-label .ball{
    height: 12px;
    width: 12px;
    background-color: #fff;
    border-radius: 50%;
    transition: transform 0.2s linear;
    position: absolute;
    left: 2px;
    top: 2px;
}

.checkbox:checked + .checkbox-label .ball {
    transform: translateX(14px);
  }
  